@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Set html and body to full height */
html, body {
  height: 100%;
  margin: 0;
}
